*.RAW
*.raw
*.rmd
*.RMD
*.R
*.Rproj
*.csv
Untitled/
uppsala_tm_1722-2017/
.Rhistory
*.dat
.Rdata
.Rproj.user/
*.tar
SRP043368/
RNAseq/
js/
css/
glimma-plots/
*.txt
*.fa
*.grd
*.vrt
*.adj
*.gri
*.png
*.tsv
